body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 52, 53, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 52, 53, 1) 100%);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 52, 53, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313435', endColorstr='#000000', GradientType=0 );
  background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 52, 53, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 52, 53, 1) 100%);
}

.homebodytitle {
  text-align: center;
  order: 1;
  align-items: center;
  justify-content: center;
  color: white;
}

.homebodytext {
  order: 2;
  font-size: 0.8em;
  margin: 0 auto; /* Changed from 0 to 0 auto */
  padding: 0;
  width: 70%; /* Adjust as needed */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;

}
