body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121315;
}
.homebodytitle {
  text-align: center;
  order: 1;
  align-items: center;
  justify-content: center;
  justify-content: center;
  color: white;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  font-size: xx-large;
}

.homebodytext {
  order: 2;
  font-size: 0.7em;
  margin: 0 auto;
  padding: 0;
  width: 40%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.homebodybutton {
  order: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.bodybutton {
  background-color: transparent;
  border: 2px solid #c5fcfc;
  border-radius: 9999px;
  color: #c5fcfc;
  padding: 20px;
  font-size: large;
  transition: transform 0.3s ease-in-out;
}

.bodybutton:hover {
  color: white;
  transform: scale(1.1);
}
