html {
  scroll-behavior: smooth;
}


.productpage {
  background-color: #121315;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: white;
}


.product-titles {
  color: white;
  font-size: large;
  text-align: center;
}

.product-container {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line */
  width: 100%; /* Adjust as needed */

}

.product-titles button:hover {
  cursor: pointer;
}

.mouse-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  margin: 20px;
}
