html {
  scroll-behavior: smooth;
}


.productpage {
  background-color: #121315;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.productpagetitle {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: large;
}

.cat-btn {
  display: flex;
  justify-content: space-around;
}

.cat-btn a {
  text-decoration: none;
  color: #c5fcfc;
}

.cat-btn button:hover {
  transform: scale(1.1);
}

.cat-btn button {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 200px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #c5fcfc;
  border-radius: 9999px;
  color: #c5fcfc;
  font-size: large;
  transition: transform 0.3s ease-in-out;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: white;
}


.product-titles {
  color: white;
  font-size: large;
  text-align: center;
  margin-top: 400px;
}

.product-container {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line */
  width: 100%; /* Adjust as needed */

}

.mouse-products {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: white;
  margin: 20px;
}
