html {
  scroll-behavior: smooth;
}
.productpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.productpagetitle {
    color: black;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.cat-btn {
    background-color: #f5f5f5;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cat-btn button:hover {
  transform: scale(1.1);
}

.cat-btn button {
  padding: 10px 20px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
