@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
:root {
  font-family: "Solway", sans-serif;
}
#root {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure the root div takes up the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
